body{
    background-image: url("https://www.xmple.com/wallpaper/gradient-green-black-linear-3840x2160-c2-000000-32cd32-a-180-f-14.svg");
    color:white
}
.row{
    margin-bottom: 20px;
    padding: 20px;
    background-color: black;
}
.col{
    background-color: black; 
}
.col-4{
    background-color: black; 
}
.col-8{
    background-color: black; 
}
.container{
    margin-top:20px;
    border-radius: 15px;
    margin-bottom:20px;
}

.btn-primary{
    color: white;
    background-color:black;
    border-color: green;
    font-weight: bold;
}
.btn-primary:hover{
    color: black;
    background-color: green;
    border-color:black;
    font-weight: bold;
}
h1{
  color: white;
  font-size: 60px;
  text-shadow: 3px 3px 6px green; 
  font-family: Georgia, 'Times New Roman', Times, serif;

}

h4{
    color: white;
    font-size: 20px;
    font-family: "Lucida Handwriting", Cursive;
    margin-top: 10px;
}

#menu{  
    background-color: none;
}

#part2{
    background-color: none;
}

.fundo{
    background-color: transparent;
    margin-bottom: 0px;
}